<!DOCTYPE html>
<html>

<head>
    <title>หน้าแรก</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/stylesheets/template.css" /> -->
    <link rel="stylesheet" href="/stylesheets/contact.css" />
</head>

<body>
    <div class="header">
        <h1>ช่องทางติดต่อ</h1>
    </div>
    <%- include layout %>

        <div id="main">
            <h1>สมาชิก</h1>
            <div id="member">
                <table>
                    <tr>
                        <td>นายจิรวิชญ์ ธานี</td>
                        <td>นายอิทธิพัทธ์ ทองสิริสุกูล</td>
                    </tr>
                    <tr>
                        <td>รหัส: 623040416-3</td>
                        <td>รหัส: 623040502-0</td>
                    </tr>
                    <tr>
                        <td>สาขาวิชา: วิศวกรรมคอมพิวเตอร์</td>
                        <td>สาขาวิชา: วิศวกรรมคอมพิวเตอร์</td>
                    </tr>
                    <tr>
                        <td>มหาวิทยาลัยขอนแก่น</td>
                        <td>มหาวิทยาลัยขอนแก่น</td>
                    </tr>
                    <tr>
                        <td><a href="https://www.facebook.com/Jirawit1412">facebook</a></td>
                        <td><a href="https://www.facebook.com/teenthun">facebook</a></td>
                    </tr>
                    <tr>
                        <td><a href="mailto:jirawitth@kkumail.com?subject = Feedback&body = Message">Email</a></td>
                        <td><a href="mailto:ittipat.to@kkumail.com?subject = Feedback&body = Message">Email</a></td>
                    </tr>
                </table>
            </div>
        </div>
</body>

</html>